doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/public/stylesheets/bootstrap.min.css')
  body
    script
    if errors
      div.container
        each error in errors
          div.alert.alert-danger= error.msg
    if sessionFlash && sessionFlash.message
      div.container
        div.alert.alert-success= sessionFlash.message
    block content

