extends layout.pug

block content
  div.container
    div.row
      div.col-md-auto
        form(action='/users/login' method='post')
          div.form-group
            label(for='username')= 'Username'
            input(type='text' name='username' required autofocus).form-control

            label(for='password')= 'Password'
            input(type='password' name='password' required).form-control

          button(type='submit').btn.btn-primary= 'Login'
        hr
        a.btn.btn-link.btn-light(href="/users/create")= 'Create Account'

