body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.mauve {
    background-color: #a17188 !important;
    border-color: #a17188 !important;
}

.light-mauve {
    color: #a17188 !important;
}
